/Medieval BPM/[Ll]ibrary/
/Medieval BPM/[Tt]emp/
/Medieval BPM/[Oo]bj/
/Medieval BPM/[Bb]uild/
/Medieval BPM/[Bb]uilds/
/Medieval BPM/[Tt]ransfrVR_Replays/
/Medieval BPM/[Tt]ransfrVR_Logs/
/Medieval BPM/[Tt]ransfrVR_SimSessionLogs/
/Medieval BPM/[Rr]eplayFiles/
